<!-- start banner Area -->
<section class="banner-area relative blog-home-banner" id="home">	
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content blog-header-content col-lg-12">
                <h1 class="text-white">
                    Bài viết				
                </h1>	
                <p class="text-white">
                    Khám phá nhiều hơn, trải nghiệm nhiều hơn
                </p>
                <a href="#start-content" id="view-blogs" class="primary-btn">Xem nhiều hơn</a>
            </div>	
        </div>
    </div>
</section>
<!-- End banner Area -->				  
<div id="start-content" class="mb-60"></div>
<!-- Start post-content Area -->
<section class="post-content-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 posts-list">
                <!-- each -->
                {{#each blogs}}
                <div class="single-post row">
                    <div class="col-lg-3  col-md-3 meta-details">
                        <div class="user-details row">
                            <p class="user-name col-lg-12 col-md-12 col-6"><a>Admin</a> <span class="lnr lnr-user"></span></p>
                            <p class="date col-lg-12 col-md-12 col-6"><a>{{formatDate this.createdAt}}</a> <span class="lnr lnr-calendar-full"></span></p>
                            <p class="view col-lg-12 col-md-12 col-6"><a>{{this.views}} Views</a> <span class="lnr lnr-eye"></span></p>					
                        </div>
                    </div>
                    <div class="col-lg-9 col-md-9 ">
                        <div class="feature-img">
                            <img class="img-fluid" src="{{this.image}}" alt="">
                        </div>
                        <a class="posts-title" href="/blog/{{this._id}}"><h3>{{this.header}}</h3></a>
                        <p class="excert hide-content-3">
                            {{this.brief}}	
                        </p>
                        <a href="blog/{{this._id}}" class="primary-btn">Xem thêm</a>
                    </div>
                </div>	
                {{/each}}													
            </div>
            <div class="col-lg-4 sidebar-widgets">
                <div class="widget-wrap">
                    <div class="single-sidebar-widget search-widget">
                        <form class="search-form" action="#">
                            <input placeholder="Search Posts" name="search" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'" >
                            <button type="submit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                    <div class="single-sidebar-widget popular-post-widget">
                        <h4 class="popular-title">Bài viết phổ biến</h4>
                        <div class="popular-post-list">
                            {{#each popBlogs}}
                            <div class="single-post-list d-flex flex-row align-items-center">
                                <div class="thumb">
                                    <img class="img-fluid" src="{{this.image}}" alt="" style="width: 200px;">
                                </div>
                                <div class="details">
                                    <a href="blog/{{this._id}}"><h6>{{this.header}}</h6></a>
                                    <p>{{this.views}} Views</p>
                                </div>
                            </div>
                            {{/each}}															
                        </div>
                    </div>							
                </div>
            </div>
        </div>
    </div>	
</section>
<!-- End post-content Area -->
