<!-- start banner Area -->
<section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Chọn chuyến bay				
                </h1>	
            </div>	
        </div>
    </div>
</section>
<!-- End banner Area -->	

<!-- User Info Start -->
<div class="container-fluid pt-4">
    <div class="row">
        <!-- Flights List Start -->
        <div class=" col-md-12">
            {{#if notFound}}
            <h2>Không tìm thấy chuyến bay phù hợp</h2>
            {{else}}
            {{#each flights}}
            <div class="pb-3 ">
                <div class="post-content-area rounded-lg mb-4">
                    <table class="table order-table text-center mb-0">
                        <tbody class="align-middle">
                            <tr>
                                <th></th>
                                <th class="text-primary higher-font-size">{{formatDateTime this.departureDate}}</th>
                                <th></th>
                                <th class="text-primary higher-font-size">{{formatDateTime this.arrivalDate}}</th>
                                <th>{{this.brand}}</th>
                                <th></th>
                            </tr>
                            <tr>
                                <td class="align-
                                middle text-left flex max-w-xl" style="justify-content: right;">
                                    <img src="https://logos-world.net/wp-content/uploads/2023/01/Vietnam-Airlines-Logo-2002.png" alt=""
                                    class="mr-3" style="width: 7rem; height: 7rem;">
                                </td>
                                <td class="align-middle higher-font-size bold-font-weight">{{this.from.city}} ({{this.from.code}})</td>
                                <td class="align-middle higher-font-size bold-font-weight">
                                    <span class="lnr lnr-arrow-right"></span> 
                                </td>
                                <td class="align-middle higher-font-size bold-font-weight">{{this.to.city}} ({{this.to.code}})</td>
                                <td class="align-middle higher-font-size"><div class="icon"><i class="fa fa-plane" aria-hidden="true"></i></div>{{this.planeName}}</td>
                                <td class="align-middle">
                                    <div class="button-group-area">
                                        <form action="/passenger" id="form-flight" method="POST">
                                            <input type="text" name="flightId" value="{{this._id}}" style="display: none">
                                            <button type="submit" id="btn-continue" class="genric-btn primary radius" style="font-size: 1rem;">
                                                {{formatPrice this.price}} VND
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {{/each}}
            {{/if}}
            
        </div>
        <!-- Flights List End -->
    </div>
</div>
<!-- User Info End -->

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        $('#btn-continue').on('click', function(event){
            event.preventDefault()
            $.ajax({
                url: '/passenger/check',
                method: 'post',
                success: function (res) {
                    if (res.err) {
                        showToast(res.message, "error");
                        setTimeout(() => {
                            window.location.href = "/login?redirect=true";
                        }, 1000)
                    }
                    else {
                        $('#form-flight').submit();
                    }
                }
            })
        })
    })
</script>