<!-- start banner Area -->
<section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Hành khách			
                </h1>	
            </div>	
        </div>
    </div>
</section>
<!-- End banner Area -->	


<!-- User Info Start -->
<div class="container-fluid pt-4">
    <div class="row">
        
        <!-- Flights List Start -->
        <div class="col-lg-8 col-md-12">
            <div class="pb-3 ">
                <div class="post-content-area rounded-lg mb-4">
                    <section class="contact-page-area section-gap pt-4">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="form-passenger" class="form-area contact-form text-right" id="form-pass" action="/ticket/book" method="post">
                                        {{#each memberArr}}
                                        <h3 class="text-primary text-left mb-20">Thông tin hành khách</h3>	
                                        <div class="row">
                                            <div class="col-lg-6 form-group">
                                                <input name="name" placeholder="Tên" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Tên'" class="common-input mb-20 form-control" required type="text">
                                            
                                                <input name="identification" placeholder="CMND/CCCD" onfocus="this.placeholder = ''" onblur="this.placeholder = 'CMND/CCCD'" class="common-input mb-20 form-control" required type="text">
        
                                                <input name="birth" type="date" placeholder="Ngày sinh" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Ngày sinh'" class="common-input mb-20 form-control" required type="text">
                                            </div>
                                            <div class="col-lg-6 form-group">
                                                <input name="phone" placeholder="Số điện thoại" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Số điện thoại'" class="common-input mb-20 form-control" required type="text">                                                        
                                                <div class="input-group-icon mt-10 form-control">
                                                    <div class="form-select" id="default-select">
                                                        <select name="gender">
                                                            <option>Giới tính</option>
                                                            <option>Nam</option>
                                                            <option>Nữ</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {{/each}}
                                        <div class="col-lg-12">
                                            <div class="alert-msg" style="text-align: left;"></div>
                                            <button id="btn-passenger" class="genric-btn primary" type="submit" style="float: right;">Tiếp tục</button>											
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>	
                    </section>
                </div>
            </div>
        </div>
        <!-- Flights List End -->

        <!-- User Sidebar Start -->
        <div class="col-lg-4 col-md-12">
            <div class="card mb-4 border-0 pl-4 post-content-area">
                
                <div class="post-content-area rounded-lg mb-4">
                    <table class="table order-table text-center mb-0">
                        <tbody class="align-middle">
                            <tr>
                                <th colspan="2" class="text-left"><h4 class="text-primary">Chi tiết chuyến bay</h4></th>
                            </tr>
                            <tr>
                                <td class="align-middle text-left">
                                    <i class="fa fa-plane pr-2" aria-hidden="true"></i>
                                    {{flight.from.code}} <span class="lnr lnr-arrow-right"></span> {{flight.to.code}}
                                </td>
                                <td class="align-middle">{{formatPrice flight.price}} VND</td>
                            </tr>
                            <tr>
                                <td class="align-middle text-left" colspan="2">Khởi hành {{formatDate flight.departureTime}}</td>
                            </tr>
                            <tr>
                                <td class="align-middle text-left" colspan="2">
                                    {{flight.from.city}} <i class="fa fa-plane pr-2 pl-2" aria-hidden="true"></i> {{flight.to.city}}
                                    <br>{{flight.brand}} - {{flight.planeName}}
                                    <br>Hành khách x{{members}}
                                </td>
                            </tr>
                            <tr>
                                <td class="align-middle text-left text-primary" style="font-size: 1.2rem;">Tổng tiền</td>
                                <td class="align-middle" style="font-size: 1.2rem;">{{formatPrice total}} VND</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- User Sidebar End -->

    </div>
</div>
<!-- User Info End -->

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        $('#btn-passenger').on('click', function(event){
            event.preventDefault()
            $.ajax({
                url: '/passenger/save',
                method: 'post',
                data: $("#form-passenger").serialize(),
                success: function (res) {
                    if (res.err) {
                        showToast(res.message, "error");
                    }
                    else {
                        window.location.href = "/ticket/checkout"
                    }
                }
            })
        })
    })
</script>