<!-- start banner Area -->
<section class="about-banner relative">
    <div class="overlay overlay-bg"></div>
    <div class="container">				
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Thông tin cá nhân				
                </h1>	
                <p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="insurance.html"> User</a></p>
            </div>	
        </div>
    </div>
</section>
<!-- End banner Area -->	

<!-- User Info Start -->
<div class="container-fluid pt-4">
    <div class="row">
        <!-- User Sidebar Start -->
        <div class="col-lg-3 col-md-12">
            <div class="card mb-4 border-0 pl-4 post-content-area">
                <div class="card-body">
                    <div class="flex mb-4">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar" class="rounded-circle img-fluid" style="width: 70px; height: 70px">	
                        <h5 class="my-1 ml-3">{{name}}</h5>
                    </div>
                    <a href="user/edit" class="text-muted mb-1 block pl-2">Cập nhật thông tin</a><br>
                    <a href="login/logout" class="text-muted mb-1 block pl-2">Đăng xuất</a>
                </div>
            </div>
        </div> 
        <!-- User Sidebar End -->

        <!-- Flights List Start -->
        <div class="col-lg-9 col-md-12">
            {{#each tickets}}
            <div class="pb-3 ">
                <div class="post-content-area rounded-lg mb-4">
                    <table class="table order-table text-center mb-0">
                        <tbody class="align-middle">
                            <tr>
                                <th>#Ngày đặt vé {{this.bookAt}}</th>
                                <th></th>
                                <th></th>
                                {{#if this.is_checkin}}
                                <th>Đã Check in</th>
                                {{else}}
                                <th>Chờ bay</th>
                                {{/if}}
                                <th></th>
                            </tr>
                            <tr>
                                <td class="align-
                                middle text-left flex max-w-xl">
                                    <img src="https://seekvectorlogo.com/wp-content/uploads/2022/01/vietnam-airlines-vector-logo-2022-small.png" alt=""
                                    class="mr-3" style="width: 5rem; height: 5rem;">
                                    <a href="" class="p-1 hide-content-1 m-0 text-lg font-bold">
                                        <span class="hide-content-1">Hà Nội đến Nha Trang</span><br>
                                        <span class="hide-content-2 text-base font-normal">VietnamAirline</span><br>
                                        <span class="hide-content-2 text-base font-normal">Hành khách: {{this.passenger_count}}</span>
                                    </a>
                                </td>
                                <td class="align-middle"></td>
                                <td class="align-middle"></td>
                                <td class="align-middle">Code {{this.code}}</td>
                                <td class="align-middle"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-primary text-xl font-semibold">Tổng đơn</td>
                                <td class="text-xl font-semibold">{{this.total}}vnd</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            {{/each}}
        </div>
        <!-- Flights List End -->
    </div>
</div>
<!-- User Info End -->
